{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
Construction Companies surprisingly benefit from Management Systems. Considering the amount of money involved in projects, there are several reasons for Management Systems to become valuable accreditation for companies in the sector.

As a senior consultant I have studied for ISO 9001:2015 transition in construction companies, conducted gap analysis and implement a project plan for the implementation or improvement of management systems of many companies to achive full compliance.

I am Certified Occupational Safety Professional, Class A
I am a Project Management Expert in Construction Industries

Meeting the requirements of the below standards is quite difficult since most of these requirements
should be met through actions rather than documentation. Leadership is the key for overcoming
this difficulty.

ISO 9001:2015 Quality Management System
ISO 14001:2015 Environmental Management System
OHSAS 18001:2007 Occupational Health & Safety Management System 
<hr>
{% endblock %}
